.background {
  height: 7216px;
  width: 7216px;
  position: absolute;
  margin: 0 !important;
  top: -6707px;
  right: -2836px;
  border-radius: 50%;
  background-color: var(--color-blanchedalmond);
  z-index: 2;
}
.imageIcon {
  height: 100%;
  width: 100%;
  max-width: calc(100% - 575px);
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 25px;
  transform: scale(1.25);
}
.wrapperImage {
  height: 759.3px;
  width: 602.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body,
.title,
.wrapperImage {
  position: relative;
  z-index: 1;
}
.title {
  margin: 0;
  font-size: inherit;
  line-height: 106%;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(92.84deg, #ffb800, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body {
  align-self: stretch;
  font-size: var(--button-bold-size);
  line-height: 140%;
  font-family: var(--body-1);
}
.titleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.googlePlayDownload {
  align-self: stretch;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 60px;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 20px;
  height: 100%;
  transform: scale(2.333);
}
.wrapperGooglePlayDownload {
  width: 202.5px;
  position: relative;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appStoreDownloadButton,
.wrapperAppStoreDownloadBut,
.wrapperGooglePlayDownload {
  align-self: stretch;
  mix-blend-mode: normal;
  min-height: 60px;
  z-index: 1;
}
.appStoreDownloadButton {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 20px;
  height: 100%;
  transform: scale(2.333);
}
.wrapperAppStoreDownloadBut {
  width: 180px;
  position: relative;
  border-radius: var(--br-6xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGooglePlayDownloadParent {
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.appDownload,
.appDownloadInner,
.frameParent,
.wrapperGooglePlayDownloadParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.appDownload,
.appDownloadInner {
  flex-shrink: 0;
  box-sizing: border-box;
}
.appDownloadInner {
  width: 432px;
  flex-direction: column;
  padding: var(--padding-37xl-3) 0 0;
  max-width: calc(100% - 746px);
}
.appDownload {
  width: 100%;
  height: 589px;
  margin: 0 !important;
  position: absolute;
  top: 4935px;
  left: -1px;
  background: linear-gradient(261.24deg, #ffae00, #ff8a00);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-42xl-7) var(--padding-329xl-9) var(--padding-189xl);
  gap: var(--gap-124xl-3);
  z-index: 1;
  text-align: left;
  font-size: var(--headline-2-bold-size);
  color: var(--color-gray-100);
  font-family: var(--button-bold);
}
@media screen and (max-width: 1225px) {
  .appDownloadInner,
  .imageIcon {
    display: none;
    max-width: 100%;
  }
  .appDownload {
    gap: 143.3px 72px;
    padding-left: var(--padding-155xl);
    padding-right: var(--padding-155xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .title {
    font-size: var(--font-size-35xl);
    line-height: 58px;
  }
  .wrapperGooglePlayDownloadParent {
    flex-wrap: wrap;
  }
  .appDownload {
    height: auto;
    gap: 143.3px 36px;
    padding-left: var(--padding-68xl);
    padding-right: var(--padding-68xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-22xl);
    line-height: 43px;
  }
  .frameParent {
    gap: 20px 40px;
  }
  .appDownload {
    gap: 143.3px 18px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
